
body{
    margin: 0;
    background-color: gainsboro;
}
.containerNavbar{
    display: flex;
    flex-direction: column;
    border: 0.2px solid gray;
    margin: 5px;
    background-color: gray;
    border-radius: 50px 10px;
    padding: 3px;
    color: white;
    justify-content: center;
    align-items: center;
}
.divLinks{
  display: flex;
  font-family: 'Alkatra', cursive;  
}
h2{
    display: flex;
    color: gray;
    align-items: center;
    justify-content: center;
    font-family: 'Alkatra', cursive;
}
h1{
    font-family: 'Alkatra', cursive;
}
form{
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 2px solid white;
    border-radius: 50px 10px;
    padding: 20px;
    margin: 5px;

}
input{
    border: 2px solid gray;
    border-radius: 5px;
    height: 100px;
}
.homePic{
    width: 80vw;
    border: 5px solid;


}
.divHome{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divContact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactPic{
    width: 50vw;
    border: 5px solid;
    margin-top: 10px;
}
.linkHome{
    color: aqua;
    text-decoration: none;
    margin-left: 5px;
}
.linkContact{
    color: yellow;
    text-decoration: none;
    margin-left: 30px;
}
.icone{
    margin-right:5px;
}
.code{
    border: 2px solid;
    padding: 3px;
    border-radius: 5px;
}